<!DOCTYPE html>
<html>
<head>
    <title>IIT Jodhpur Server Home</title>
    <link rel="icon" href="../../static/img/iitj-logo.png"> </head>
<body>
    <center>
        <img src="../../static/img/iitj-logo.png" width="400" alt="IIT Jodhpur Logo"> <h1>Welcome to the Capstone Project Server - Group 3</h1>
        <p>This server is for internal use only.</p>
        <h3> Anirban Sinha </h3>
        <h3> Aditya Singh Rathod </h3>
        <h3> Radhika Natarajan </h3>
        <h3> Jojo Joseph </h3>
        <h3> Aparna Mundke </h3>
        <h3> Akkalesh </h3>
        <h3> Anshul Srivastava</h3>
    </center>
</body>
</html>